*~
*.swp
logs
project/project
project/target
target
tmp
.history
dist
/.idea
/*.iml
/out
.idea_modules
.classpath
.project
/RUNNING_PID
.settings
.target
/bin
*.jpage
lodhub_data
.cache
.worksheet/
*.sc
.sbt_completion_cache
.tags
*.bak
*.class
*.log

__my_script/

#####
# ignore database
db

#####
# ignore files generated during tests
grid-mbbs/
grid-results/
clusterresult/
bsp-mbbs/
bsp-results/



# sbt specific
.cache
.cache-*
.history
.lib/
.scalastyle
dist/*
target/
lib_managed/
src_managed/
project/boot/
project/plugins/project/
buildinfo.properties

# Scala-IDE specific
.scala_dependencies
.worksheet
